* {
  font-family: sans-serif;
}

body{
  background-image: url(./images/peakpx.jpg);
}


.spacer{
  height: 20vh;
}

.text-color{
  color:white;
}

.middle {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}